<!DOCTYPE html>
<html>
    <head>
        <title><%= locals.title %></title>
        <script src="https://kit.fontawesome.com/f1b05bd651.js" crossorigin="anonymous"></script>
        
        <!-- our css should be below all other styles so 
        that e can override it -->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fa-solid fa-address-book"></i>
            My Contacts List
        </h1>


        <div id="contacts-list-container">
            <ul>
                <% for (let i of contact_list){ %> 
                    <li class="Contact">
                        <div class="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                     </div>
                     <div class="delete-button">
                        <!-- //by default get reques// -->
                        <!-- <a href="/delete-button/<%= i.phone %>"> -->
                            <a href="/delete-contact/?id=<%= i._id %>"> 
                            <i class="fa-solid fa-rectangle-xmark"></i>
                        </a>
                     </div>
                    </li>
                    <%} %>
            </ul>
        </div>
 
        <form id="new-contact-form"action="/crete-contact" method="POST">
            <input type ="text" name="name" placeholder="Enter Name" required>
            <input type="phone" name="phone" placeholder="Enter Phone" required>

            <button type="submit">Add Contact</button>

        </form>
        
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>

      